@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.eot');
    src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* дз - виправити адаптив га головній сторінці та наші будівлі */
html {
    font-size: 1px;
}


.sign.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.table-scroll {
    width: 100%;
}

.table {
    margin-bottom: 35rem !important;
}

.table .tr:hover {
    background-color: #fd8300;
    color: white;
}

.sign h2 {
    margin-bottom: 30rem;
    font-family: "Roboto Slab";
    font-size: 15rem;
}

.sign .pi {
    margin-bottom: 35rem;
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
    font-family: "Arial";
}

 a {
    font-size: 10rem;
}

.wrapperH2 {
    font-family: "Roboto Slab" !important;
    margin-bottom: 25rem !important;
    font-size: 15rem;
}

.sign a {
    margin-bottom: 25rem;
    color: #fd8300;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.project-cards strong {
    font-size: 14rem;
    line-height: 24rem;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
}

.sign a:hover {
    text-decoration: underline;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}


* {
    margin: 0;
    padding: 0;
}



ul {
    list-style: none;
}


.header-line {
    background-color: #1f1f56;
    padding-bottom: 21rem;
    padding-top: 21rem;
}





.logo-contactinfo {
    padding: 35rem 0rem;
}

.header-line a {
    text-decoration: none;
    font-size: 14rem;
    letter-spacing: 2rem;
    line-height: 1.7em;
    color: #b1b1d2;
}


footer li:hover {
    color: #fd8300;
}


.navigation {
    display: flex;
    column-gap: 20rem;
    text-decoration: none;
}


.navigation a:hover {
    color: #fd8300;
    transition: 0.3s;
}




.sociality {
    display: flex;
    column-gap: 25rem;
    align-items: center;
}




.project-cards p {
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
}


.pidmenu li:first-child {
    border-radius: none;
}


.project-category .li {
    font-size: 16rem;
    line-height: 24rem;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding: 15rem;
}


.wrapper {
    margin: auto;
    max-width: 960rem;
    padding: 0 20rem;
    display: flex;
}


.flex-between {
    display: flex;
    justify-content: space-between;


}


.phone-numbers a {
    font-size: 18rem;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;

}


.emails a {
    font-size: 16rem;
    line-height: 1.5em;
    color: #25252c;
}

.emails .email-no-underline {
    text-decoration: none;
    display: block;
}


.button {
    border-radius: 25rem;
    background-color: #ffffff;
    border: 2rem solid #fd8300;
    font-size: 16rem;
    line-height: 1.5em;
    color: #25252c;
    font-weight: bold;
    padding: 12rem 30rem;
    text-decoration: none;
}



.button:hover {
    background-color: #fd8300;
    color: white;
    transition: 0.3s;
}



.items-center {
    align-items: center;
}


.phone {
    margin-bottom: 5rem;
}


.month-proposition {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/Layer\ 74.png);
    padding-top: 60rem;
    padding-bottom: 50rem;
    background-size: cover;
    text-align: center;
}

.month-proposition h2 {
    font-size: 30rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 6rem;
}



.h2contacts {
    margin-bottom: 35rem;
    font-size: 15rem;
}



.month-proposition p {
    font-size: 14rem;
    line-height: 1.7em;
    color: #ffffff;
}


.month-proposition strong {
    font-size: 40rem;
    color: #fd8300;
}



.month-proposition span {
    font-size: 24rem;
    color: #fd8300;
    font-weight: bold;
}


.main-flex {
    justify-content: space-between;

}


.main h1 {
    font-size: 30rem;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 30rem;
}


.main .p1 {
    width: 90%;
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
    margin-bottom: 20rem;
}


.main .p2 {
    width: 90%;
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
    margin-bottom: 30rem;
}


.main a {
    font-size: 14rem;
    line-height: 24rem;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    margin-bottom: 30rem;
}


main a:hover {
    text-decoration: none;
}


.part1 {
    width: 100%;
    height: 1rem;
    background-color: #e4e4ec;
    margin-bottom: 30rem;
    margin-top: 30rem;
}


section img {
    justify-content: space-between;
    align-items: center;
}


section h2 {
    margin-bottom: auto;
    font-family: "Roboto Slab";
}


aside ul {
    list-style-type: none;
}


.main-flex {
    column-gap: 25rem;

}


footer {
    background-color: #ededf5;
}


footer>.wrapper {
    display: flex;
    justify-content: space-between;
}


.project-cards {
    display: flex;
    justify-content: space-between;
}


figure {
    margin: 0;
}

section h2 {
    margin-bottom: 30rem;
    font-size: 20rem;
}


.flex {
    display: flex;
}


aside li+ul {
    display: none;
}



li:hover+ul {
    display: block;
}


aside li {
    background-color: #e4e4ec;
}


aside ul {
    padding: 0;
}


aside li:hover {
    background-color: #fd8300;
    color: #fff;
}

aside li {
    background-color: #e4e4ec;
    position: relative;
}


aside li:first-child {
    border-radius: 5rem 5rem 0 0;
}


aside li:last-child {
    border-radius: 0 0 5rem 5rem;
}



.pidmenu li:last-child {
    border-radius: 0;
}


aside li a:not(.pidmenu li a):after {
    content: "";
    width: 6rem;
    height: 6rem;
    border-top: 1rem solid #000;
    border-right: 1rem solid #000;
    display: block;
    transform: rotate(45deg);
    right: 15rem;
    position: absolute;
    top: 27rem;
    transition: 0.5s;
}


aside a {
    text-decoration: none;
}

aside li {
    position: relative;
}


aside li:hover a:after {
    transform: rotate(135deg) !important;
    border-top: 1rem solid #fff !important;
    border-right: 1rem solid #fff !important;
    top: 25rem !important;
}


aside li:first-child a:after {
    display: none;
}


.li {
    background-color: #1f1f56;
}


.li:first-child:hover {
    background-color: #1f1f56;
}


.aside ul {
    border-radius: 30rem;
}




.project-category ul {
    min-width: 220rem;
}


.project-cards {
    column-gap: 30rem;
}


.phone {
    position: relative;
}






.phone:before {
    content: "";
    width: 17px;
    height: 17px;
    background-image: url(../images/sprite.png);
    position: absolute;
    left: -28px;
    background-repeat: no-repeat;
}



.email {
    position: relative;
}


.email:before {
    content: "";
    width: 18px;
    height: 13px;
    background-image: url(../images/sprite.png);
    position: absolute;
    left: -28px;
    top: 3px;
    background-repeat: no-repeat;
    background-position: -20px 0;
}


.email-no-underline {
    position: relative;
}


.email-no-underline:before {
    content: "";
    width: 19px;
    height: 19px;
    background-image: url(../images/sprite.png);
    position: absolute;
    left: -28px;
    top: 3px;
    background-repeat: no-repeat;
    background-position: -39px 0;
}


footer {
    padding-bottom: 30rem;
    padding-top: 40rem;
}


ul {
    margin: 0;
}

p {
    margin: 0;
}


.fb,
.tw,
.inst {
    background-image: url(../images/sprite.png);
    transition: 0.3s;
}


.fb {
    width: 10px;
    height: 20px;
    background-position: 51px 20px;
}


.tw {
    width: 20px;
    height: 16px;
    background-position: 40px 19px;
}


.inst {
    width: 20px;
    height: 20px;
    background-position: 130px 20px;
}


.inst:hover,
.fb:hover,
.tw:hover {
    background-position-y: 0;

}



.copyrite p {
    text-align: center;
    background-color: #dcdce6;
    padding-top: 20rem;
    padding-bottom: 15rem;
    font-size: 13rem;
    line-height: 1.3em;
    color: #9999a6;
}



.month-proposition {
    margin-bottom: 40rem;
}



.project-cards {
    margin-bottom: 50rem;
}


.project-cards strong {
    font-size: 14rem;
    line-height: 1.7em;
    color: #1f1f56;
    cursor: pointer;
}


.project-cards strong:hover {
    text-decoration: underline;
}




.project-cards img:hover {
    text-decoration: underline;
}



.project-cards img {
    height: 156rem;
    cursor: pointer;
}




.pidmenu {
    box-shadow: inset 0rem -1rem 0rem #cecedd;
    background-color: #e4e4ec;
}




.pidmenu li a {
    font-size: 14rem;
    line-height: 1.7em;
    color: #666666 !important;
    padding-left: 30rem;
}


.pidmenu li:hover {
    background-color: #cecedd;
}



.ul2 {
    margin-right: 160rem;
    margin-left: 145rem;
}




article a {
    text-decoration: none;
}




.phone-numbers {
    margin-right: 60rem;
    margin-left: 20rem;
}



footer li {
    font-size: 14rem;
    line-height: 1.8em;
    color: #666666;
}



footer li:hover {
    color: #fd8300;
    text-decoration: underline;
    cursor: pointer;
}


.emails a {
    font-size: 16rem;
    line-height: 1.5em;
    color: #25252c;
    text-decoration: none;
}


.emails a:hover {
    text-decoration: underline;
    cursor: pointer;
}


aside {
    cursor: pointer;
}


.part2 {
    width: 1rem;
    height: 51rem;
    background-color: #e4e4ec;
    margin-left: -16rem;
}



.logo-contactinfo .emails {
    margin-left: 40rem;
}


.logo-contactinfo .phone-numbers {
    margin-right: 30rem;
}




.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.consultatoin {
    margin-left: 90rem;
}




.form {
    display: flex;
    flex-wrap: wrap;
}

.project-cards figure:hover strong {
    text-decoration: underline;
}


.gmap {
    width: 100%;
}

.project-category li:not(:last-child, :first-child, .pidmenu li),
.pidmenu li:last-child {
    border-bottom: 1rem solid #cdcddd;
}



aside li a {
    display: inline-block;
    font-size: 14rem;
    line-height: 1.7em;
    color: #25252c;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18rem 20rem;

}



aside li:not(.pidmenu li):hover a {
    color: #fff;
}

aside li .pidmenu {
    display: none;
}

aside li:hover .pidmenu {
    display: block;
}


article a {
    cursor: pointer;
}



.table {
    display: table;
    width: 100%;
    cursor: pointer;
    border-collapse: 0;
    border: 0;
}

.table_inputs {
    width: 100%;
    margin-bottom: 10rem;
}


.yourname,
.yournumber {
    width: 98%;
}




input {
    margin-bottom: 10rem;

}

.yournumberright {
    display: flex;
    justify-content: flex-end;
}

.tr1,
.tr {
    display: table-row;
    background-color: #e4e4ec;
}


.tc {
    display: table-cell;
}


.table p {
    padding-top: 15rem;
    padding-bottom: 15rem;
    box-shadow: inset 0rem -1rem 0rem #cecedd;
    margin-left: 20rem;
    font-size: 10rem;

}

.tr1 {
    padding-top: 15rem;
    padding-bottom: 15rem;
    border-radius: 3rem;
    background-color: #1f1f56;
    font-size: 14rem;
    line-height: 1.7em;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}


*a {
    cursor: pointer;
}


.overflow {
    min-height: 300rem;
    overflow: hidden;
    position: relative;
    width: 50%;
}


iframe {
    position: absolute;
    height: 100%;
    top: -70rem;
    width: 100%;
    left: -3rem;
}

@media (max-width: 650px){
    iframe {
        top: -90rem;
    }
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 15rem;
    box-sizing: border-box;
    border: 1rem solid #c5c5d4;
    border-radius: 3rem;
    outline: none;
}


input::placeholder,
textarea::placeholder {
    font-size: 13rem;
    line-height: 21rem;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}

textarea {
    resize: vertical;
    min-height: 100rem;
    max-height: 700rem;
}


.checkbox {
    display: none;

}

.checkbox+label {
    position: relative;
    text-align: center;
    padding-left: 25rem;
    font-size: 12rem;
}


.checkbox+label:before {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    border: 1rem solid #c5c5d4;
    border-radius: 3rem;
    background-color: #ffffff;
    top: -2px;
    left: 5px;
}


.checkbox+label:after {
    content: "";
    display: none;
    position: absolute;
    width: 8px;
    height: 5px;
    border-bottom: 2rem solid #1f1f56;
    transform: rotate(-45deg);
    border-left: 2rem solid #1f1f56;
    top: 1px;
    left: 9px;
}

h4 {
    font-family: "Roboto Slab";
}

.checkbox:checked+label:after {
    display: block;
}

.flexbox {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}

button {
    display: block;
    border-radius: 21rem;
    background-color: #fd8300;
    font-size: 15rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 15rem 30rem;
    border: none;
}

.form {
    margin-bottom: 30rem;
}

.office h4,
.consultation h4,
.recvisit h4 {
    font-size: 14rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    margin-bottom: 20rem;
}


.consultation {
    max-width: 190rem;
}


.office {
    max-width: 250rem;
    flex-wrap: wrap;
}

.office a {
    display: block;
}

.consultation p {
    font-size: 14rem;
    line-height: 21rem;
    color: #666666;
}

.consultation p,
.office p,
.recvisit p {
    margin-bottom: 8rem;
}

.consultation a,
.office a,
.recvisit a {
    margin-bottom: 8rem;
}

.consultation a,
.office a {
    text-decoration: none;
    font-size: 18rem;
    line-height: 24rem;
    color: #25252c;
    font-weight: bold;
}

.recvisit {
    max-width: 260rem;
}

.office a:last-child {
    font-size: 16rem;
    line-height: 24rem;
    text-decoration: underline;
    color: #25252c;
    font-weight: normal;
}


button {
    cursor: pointer;
    border: 1rem solid #fd8300;
}


button:hover {
    background-color: #fff;
    color: #fd8300;
    border: 1rem solid #fd8300;
    transition: 0.5s;
}



.office p,
.consultatoin p,
.recvisit p {
    font-size: 14rem;
    line-height: 21rem;
    color: #666666;
    font-family: "Arial";
}



.contacts {
    margin-bottom: 35rem;
}


.part14 {
    width: 90%;
    height: 1rem;
    background-color: #e4e4ec;
    margin-bottom: 30rem;
}




form h4 {
    font-size: 14rem;
    line-height: 24rem;
    color: #24242b;
    font-weight: 700;
    margin-bottom: 10rem;
}


header {
    width: 100%;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
    margin-bottom: 15rem;
}

.main_index2 {
    padding-top: 40rem;
}

.mf {
    width: 70%;
}


.hw {
    flex-wrap: wrap;
    row-gap: 25rem;
}


.endmonton img,
.montreal img,
.galgary img {
    width: 100%;
    height: auto;
}

.endmonton,
.montreal,
.galgary {
    width: 100%;

}

.project-cards {
    flex-wrap: wrap;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.flex-button {
    margin-bottom: 10rem;
}

.hw {
    column-gap: 20rem;
}


@media (max-width: 700px) {

    .main-flex {
        flex-wrap: wrap-reverse;
    }

    .mf {
        width: 100%;
    }

    .project-category  {
        width: 100%;
        margin-bottom: 30rem;
    }
}

@media (min-width:850px) {
    .project-cards {
        flex-wrap: nowrap;
    }
}

@media (max-width:705px) {
    .phone-numbers {
        padding-left: 20rem;
    }
}

@media (max-width: 490px) {
    .phone-numbers {
        padding-left: 50rem;
    }
    .hw {
        justify-content: center;
    }

    .part2 {
        width: 0;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 0.8px;
    }
    .navigation {
        display: block;
        text-align: center;
        width: 100%;
    }

    .navigation a {
        padding: 5rem;
        display: block;
    }

    .month-proposition {
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .email-no-underline {
        text-align: left;
    }
}



@media screen and (min-width: 945px) {


    .main-flex {
        flex-wrap: wrap-reverse;
    }

    .copyrite,
    .copyrite p {
        width: 100%;
    }
}

@media screen and (min-width: 837px) {

    .endmonton img,
    .montreal img,
    .galgary img {
        width: auto;

    }

    .endmonton,
    .montreal,
    .galgary {
        width: auto;
    }
}



@media (max-width: 830px) {
    .header-line, .logo-contactinfo, .month-proposition {
        flex-direction: column;
        align-items: center;
    }

    .sociality {
        display: none;
    }

    .project-cards {
        gap: 15rem;
    }

    .phone-numbers, .emails {
        text-align: center;
        margin: 10rem 0;
    }

    .main {
        padding: 10rem;
    }

    .footer, .copyrite {
        text-align: center;
    }

    .footer .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer ul {
        padding: 0;
        margin: 10rem 0;
    }
}

.wrapper-flex {
    flex-wrap: wrap;
}

@media (min-width:2000px) {
    html {
        font-size: 1.5px;
    }

  
}



@media (max-width:1040px) {
    .logo-contactinfo {
        display: flex;
    }


    .logo-contactinfo button {
        flex-wrap: wrap;
    }

}



@media (max-width: 1000px) {
    .table-scroll {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    
    .table {
        min-width: 500px;
    }
}



@media (max-width: 515px) {
    .checkbox+label {
        padding-left: 30rem;
    }

}


@media (max-width: 855px) {
    .form {
        justify-content: center;
    }
}

@media (max-width:345px) {
    .flex-button {
        width: 100%;
    }
    
}

@media (max-width: 856px) {
    .overflow {
        width: 90%;
    }
    .form {
        justify-content: center;
    }
}


@media (max-width:370px) {
    .contacts {
        column-gap: 20rem;
    }
}


